In [10]:
pip install plotly

Requirement already satisfied: plotly in c:\users\nurefşan ateş\appdata\local\programs\python\python311\lib\site-packages (5.18.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\nurefşan ateş\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\nurefşan ateş\appdata\local\programs\python\python311\lib\site-packages (from plotly) (23.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.io as pio
import plotly.figure_factory as ff

In [29]:
veri=pd.read_csv("universite_siralamasi.csv")
veri.head(3)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011

In [30]:
veri.columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [31]:
veri.rename(columns={'world_rank'                :'dunya_siralama',
                    'university_name'            :'uni_isim',
                    'country'                    :'ulke',
                    'teaching'                   :'ogretim',
                    'international'              :'uluslararasi',
                    'research'                   :'arastirma',
                    'citations'                  :'alinti',
                    'income'                     :'gelir',
                    'total_score'                :'toplam_puan',
                    'num_students'               :'ogrenci_sayisi',
                    'student_staff_ratio'        :'ogrenci_calisan_orani',
                    'international_students'     :'uluslararasi_ogrenci',
                    'female_male_ratio'          :'kadin_erkek_orani',
                    'year'                       :'yil'}, inplace=True)
veri.head(2)

,dunya_siralama,uni_isim,ulke,ogretim,uluslararasi,arastirma,alinti,gelir,toplam_puan,ogrenci_sayisi,ogrenci_calisan_orani,uluslararasi_ogrenci,kadin_erkek_orani,yil
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011

In [32]:
#ÇİZGİ GRAFİĞİ
df=veri.iloc[:100,:]
df.head(3)

,dunya_siralama,uni_isim,ulke,ogretim,uluslararasi,arastirma,alinti,gelir,toplam_puan,ogrenci_sayisi,ogrenci_calisan_orani,uluslararasi_ogrenci,kadin_erkek_orani,yil
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011

In [33]:
#plotly stilleri
pio.templates.default="simple_white"

In [34]:
#Grafik objeleri oluşturuyorum
cizgi1=go.Scatter(x=df.dunya_siralama, #x ekseninde dunya sıralaması
                 y=df.alinti, #y ekseninde alıntılar
                 mode="markers", #işaretçi koy
                 name="Alıntı", #grafiğin adı
                 marker=dict(color='rgba(78,78,250,0.85)'), #markerların rengini belirliyorum
                 text=df.uni_isim) #grafik üzerinde gezinirken üninin ismi gözüksün

cizgi2=go.Scatter(x=df.dunya_siralama, #x ekseninde dunya sıralaması
                 y=df.ogretim, #y ekseninde alıntılar
                 mode="markers", #işaretçi koy
                 name="Eğitim-Öğretim Faaliyetleri", #grafiğin adı
                 marker=dict(color='rgba(202,43,15,0.85)'), #markerların rengini belirliyorum
                 text=df.uni_isim) #grafik üzerinde gezinirken üninin ismi gözüksün

veri= [cizgi1,cizgi2]
yerlesim=dict(title='Dünya Sıralamasında İlk 100 Üniversitenin Atıf ve Egitim-Öğretim Puanları',
             xaxis=dict(title='Dünya Sıralaması', ticklen=5,zeroline=False))
fig=dict(data=veri, layout=yerlesim)
plot(fig, filename='1_çizgi-alıntı ve öğretim puanları.html')

'1_çizgi-alıntı ve öğretim puanları.html'

In [25]:
#ÇUBUK GRAFİĞİ
#Veriyi ayrıştırıyorum-İlk 5 üniversiteye ait 
veri2011=df[df.yil==2011].iloc[:5,:]
#Grafik objeleri oluşturuyorum
cizgi1=go.Bar(x=veri2011.uni_isim, #x ekseninde uni ismi
              y=veri2011.alinti, #y ekseninde alıntılar
              name="Alıntı", #grafiğin adı
              marker=dict(color='rgba(255,127,40,0.5)', #markerların rengini belirliyorum
                          line=dict(color='rgb(0,0,0)',width=1.5)),
              text=veri2011.ulke) #grafik üzerinde gezinirken ülke ismi gözüksün

cizgi2=go.Bar(x=veri2011.uni_isim, #x ekseninde uni ismi
              y=veri2011.ogretim, #y ekseninde alıntılar
              name="Eğitim-Öğretim Faaliyetleri", #grafiğin adı
              marker=dict(color='rgba(64,10,128,0.5)', #markerların rengini belirliyorum
                          line=dict(color='rgb(0,0,0)',width=1.5)),
              text=veri2011.ulke) #grafik üzerinde gezinirken ülke ismi gözüksün

veri_= [cizgi1,cizgi2]
yerlesim=go.Layout(barmode="group")
fig=go.Figure(data=veri_,layout=yerlesim)
plot(fig, filename='2_çubuk-alıntı ve öğretim puanları.html')

'2_çubuk-alıntı ve öğretim puanları.html'

In [39]:
#DAİRESEL GRAFİK
veri_2011= df[df.yil==2011].iloc[:8,:]
dilim1=veri_2011.ogrenci_sayisi
dilim1_liste=[float(each.replace(',' , '.')) for each in veri_2011.ogrenci_sayisi] #virgülleri nokta ile değiştirme
etiketler=veri_2011.uni_isim

cizgi=go.Pie(labels=etiketler,
            values=dilim1_liste,
            hoverinfo='label+value+percent',
            textinfo='value+percent',
            textfont=dict(size=12),
            rotation=0.3,
            marker=dict(line=dict(color='#000000',width=1)))
veri_=[cizgi]
yerlesim=dict(title='2011 Yılı İlk 8 Üniversitesi Öğrenci Sayıları ve Oranları',
             legend=dict(orientation='h'))
fig=dict(data=veri_,layout=yerlesim)
plot(fig,filename='3_dairesel-öğrenci sayisi.html')

'3_dairesel-öğrenci sayisi.html'

In [42]:
#KABARCIK GRAFİĞİ
veri_2011=df[df.yil==2011].iloc[:20,:]
ogrenci_sayisi=[float(each.replace(',' , '.')) for each in veri_2011.ogrenci_sayisi] #virgülleri nokta ile değiştirme

uluslararasi_renk=[float(each.replace('-' , '0')) for each in veri_2011.uluslararasi]
data=[{'y': veri_2011.ogretim,
      'x': veri_2011.dunya_siralama,
      'mode': 'markers',
      'marker': {'color': uluslararasi_renk, #kabarcıkların renkleri uluslararasına göre 
                 'size': ogrenci_sayisi, #büyüklüğü de ogrenci sayısına göre
                 'showscale': True},
      'text': veri_2011.uni_isim}]
plot(data,filename='4_kabarcık-öğrenci sayısı.html') #grafiği html dosya formatında oluşturur

'4_kabarcık-öğrenci sayısı.html'